<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <appSettings>
    <!-- Here add the json file to the player database. -->
    <!-- You can find one on this URL: -->
    <!-- https://gist.github.com/igeligel/1145370313310168dca827339e6e5484 -->
    <add key="FilePath" value=""/>
  </appSettings>
</configuration>
